@font-face {
  font-family: "iconfont"; /* Project id 3614275 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3614275_b72h30brc0n.woff2?t=1675443494399') format('woff2'),
       url('//at.alicdn.com/t/c/font_3614275_b72h30brc0n.woff?t=1675443494399') format('woff'),
       url('//at.alicdn.com/t/c/font_3614275_b72h30brc0n.ttf?t=1675443494399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-csdn:before {
  content: "\e601";
}

.icon-aop:before {
  content: "\e60a";
}

.icon-xiaoji:before {
  content: "\e64a";
}

.icon-xitong:before {
  content: "\e62d";
}

.icon-jichu:before {
  content: "\eb25";
}

.icon-suanfa:before {
  content: "\e649";
}

.icon-leetcode:before {
  content: "\e60d";
}

.icon-shejishi:before {
  content: "\e600";
}

.icon-keng:before {
  content: "\e657";
}

.icon-gongju:before {
  content: "\e66f";
}

.icon-shezhi:before {
  content: "\e609";
}

.icon-guileiku:before {
  content: "\e627";
}

.icon-CSS:before {
  content: "\e61d";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-javascript:before {
  content: "\e656";
}

.icon-HTML:before {
  content: "\e620";
}

.icon-react:before {
  content: "\e689";
}

.icon-qianduan:before {
  content: "\e608";
}

.icon-jingxuanwenzhang:before {
  content: "\e661";
}

.icon-ioc:before {
  content: "\e61c";
}

.icon-designmode:before {
  content: "\e66d";
}

.icon-bingxing:before {
  content: "\e748";
}

.icon-home:before {
  content: "\e7d8";
}

.icon-zhuanlan:before {
  content: "\e693";
}

.icon-basic:before {
  content: "\e751";
}

.icon-fanshe:before {
  content: "\ec50";
}

.icon-jichuzhishi1:before {
  content: "\e605";
}

.icon-reflect:before {
  content: "\e675";
}

.icon-Reflection-Tool1:before {
  content: "\ea9d";
}

.icon-xuniji:before {
  content: "\e606";
}

.icon-binghangjieshu:before {
  content: "\e851";
}

.icon-binghangkaishi:before {
  content: "\e852";
}

.icon-AppGeneric:before {
  content: "\e607";
}

.icon-spring:before {
  content: "\e6fe";
}

.icon-niao:before {
  content: "\e62f";
}

.icon-kuangjia:before {
  content: "\e60f";
}

.icon-java:before {
  content: "\e639";
}

